body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#weather-detail {
  display: grid;
  grid-template-columns: 33% auto;
  left: 0;
  bottom: 0;
  position: fixed;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: .2s cubic-bezier(0, .40, 0, 1);
  overflow-y: hidden;
  z-index: 1000;
  width: 100%;
  background: rgb(0, 169, 224);
  /* color: rgb(240, 240, 240); */
}

#big-temp {
  margin-top: -10px;
  font-size: 72px;
  /* background: orange; */
}

#feels-like {
  margin-top: -40px;
  width: 100%;
}

#big-temp-label {
  width: 100%;
}

#current {
  display: flex;
  flex-wrap: wrap;
  grid-area: 'sidebar';
  text-align: center;
  width: 100%;
  /* border-top: 2px solid rgb(0, 169, 224); */
  color: white;
}

#current-temp-details {
  grid-area: 'sidebar';
  display: flex;
  flex-wrap: wrap;
}

#main-temp {
  width: 50%;
}

#min-temp, #max-temp{
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  /* background: red; */
  margin: 0;
  padding: 0;
  align-content: center;

}

#min-temp-num, #max-temp-num {
  width: 100%;
}

#min-temp-label, #max-temp-label {
  width: 100%;
  margin-top: -10px;
}

#current-temp-extra {
  grid-area: 'sidebar';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: left;
  /* border-top: 2px solid rgb(0, 169, 224); */
  border-top: 2px solid white;
  color: white;
}

#weather, #humidity, #wind-speed, #cloud-cov {
  width: 50%;
  text-align: center;
}

#weather-detail.hidden {
  height: 0px;
}

#weather-detail.show {
  height: 80%;
}

#current-temp-sun {
  display: flex;
  text-align: center;
  height: 200px;
  border-top: 2px solid rgb(0, 169, 224);
  /* position: relative; */
  /* bottom: 0; */
  color: white;
}

#sunrise, #sunset {
  width: 50%;
  /* background: orange; */
  /* height: 40%; */
  align-self: flex-end;
}

#search-form {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  left: 0;
  top: 0;
}

#search {
  width: 600px;
  height: 40px;
  border-radius: 100px;
  border: 3px solid rgb(0, 169, 224);
  padding-left: 30px;
  margin-top: -5px;
  background: white;
}

#search.min:hover {
  transform: scale(1);
  transition: all .2s ease-in-out;
}

#search.regular {
  transform: scale(1);
  transition: all .2s ease-in-out;
}

#search.min { 
  transform: scale(.8);
  transition: all .2s ease-in-out;
}

#submit-search {
  width: 120px;
  height: 30px;
  margin-top: 20px;
  background: rgb(0, 169, 224);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  /* height: 200px; */
}

#temp-type {
  /* background: blue; */
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

input, input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#loading-page {
  /* background: purple; */
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  align-self: center;
  animation-name: fadein;
  animation-duration: 2s;
}

#news-events {
  grid-area: 'main';
  /* background: rgb(0, 169, 224); */
  background: white;
  height: 100%;
  overflow-y: auto;
  border-top: 2px solid rgb(0, 169, 224);
  /* border-left: 2px solid rgb(0, 169, 224); */
}

ul {
  list-style: none;
  margin-top: -10px;
}

li {
  padding: 8px;
  width: 90%;
}

li:hover {
  background: rgba(240, 240, 240, 0.95);
  border-radius: 5px;
}

#news-header {
  display: flex;
  align-items: center;
  width: 100%;
}

#search-news {
  height: 20px;
  border-radius: 200px;
  margin-left: 200px;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding-left: 10px;
}

#search-news:focus {
  background: white;
  border: 1px solid #ccc;
}

#news-header > h1 {
  margin-left: 45px;
}

#search-button {
  text-align: center;
  width: 100%;
}

#hello-message {
  text-align: center;
  width: 100%;
}

#search-elements {
  display: flex;
  justify-content: center;
}

input[type='radio'] {
  width: 0;
  background: black;
  opacity: 0;
  position: fixed;
}

.temp-radio {
  width: 100px;
  display: inline-block;
  font-size: 18px;
  border: 3px solid rgb(0, 169, 224);
}

#farenheit {
  border-radius: 5px 0 0 5px;
}

#celsius {
  border-radius: 0 5px 5px 0;
}

a:link {
  color: rgb(20, 20, 20);
  text-decoration: none;
}